<div class="d-flex flex-row justify-content-evenly m-3">
  <div><a href="{{ path('app_index') }}"><img id="logo" href="#" src="img/logo.jpg" alt="Logo"></a></div>
  <div>
    <div>
      <p>Sandrine Coupart</p>
    </div>
    <div>
      <p>Diététicienne</p>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around" >
      {% if is_granted('ROLE_USER') %}
      <div class="d-flex flex-column">
      <div><img src="img/logged.png">&nbsp;{{ app.user.surname }} {{ app.user.name }}</div>
      <div class="mt-1"><a href=" {{ path('app_logout') }} ">Se déconnecter</a></div>
      </div>
    {% else %}
    <div class="m-2"><a href=" {{ path('app_register') }} ">S'inscrire</a></div>
      <div class="m-2"><a href=" {{ path('app_login') }} ">Se connecter</a></div>
    {% endif %}
  </div>
</div>
<div class="container-fluid bg-secondary p-1"></div>
